{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- Column 1  -->

  

<div class="row">
<div class="col-sm-12">
  <div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon" id="joystick_enabled" >
	  <div class="card-icon" id="button_joystick" >
		<i class="material-icons">open_with</i>
	  </div>
	  <p class="card-category">myTank</p>
	</br>

            
	<div class="row">
	<div class="col-sm-12">
	  <div class="card-icon card-touch" style="background: Grey;" id="button_bluetooth" >
		<i class="material-icons">bluetooth</i>
	  </div>
	  <div class="card-icon card-touch" style="background: SlateBlue;" id="button_gamepad" >
		<i class="material-icons">sports_esports</i>
	  </div>           
	  <div class="card-icon card-touch" style="background: SlateBlue;" id="button_camera" >
		<i class="material-icons">videocam</i>
	  </div>           
	  <div class="card-icon card-touch" style="background: grey;" id="button_debug" >
		<i class="material-icons">done</i>
	  </div>           
	  <div class="card-icon card-touch" style="background: grey;" id="button_security" >
		<i class="material-icons">report</i>
	  </div>           
	  <div class="card-icon card-touch" style="background: SlateBlue;" id="button_settings" >
		<i class="material-icons">settings</i>
	  </div>           
	</div>
	</div>
	
	<div class="row" id="gamepad_pop" style="display:none;" >
		<div class="col-sm-5" style="margin-bottom: 40px;" >
			<img src="/static/assets/img/gamepad_ipega9023.png" height="400px" width="750px" >
			<div style="text-align: left;width: 250px;background: black;display: block;position: absolute;left: 230px;top: 125px;z-index: 3;" id="game_button_debug" >X</div>
			<div style="text-align: left;width: 250px;background: black;display: block;position: absolute;left: 230px;top: 150px;z-index: 3;" id="game_axe0_debug" >X</div>
			<div style="text-align: left;width: 250px;background: black;display: block;position: absolute;left: 230px;top: 175px;z-index: 3;" id="game_axe1_debug" >X</div>
			<div style="text-align: left;width: 250px;background: black;display: block;position: absolute;left: 230px;top: 200px;z-index: 3;" id="game_axe2_debug" >X</div>
			<div style="text-align: left;width: 250px;background: black;display: block;position: absolute;left: 230px;top: 225px;z-index: 3;" id="game_axe3_debug" >X</div>
		</div>
	</div>
	
	</br>
	
	<div class="row">
		<div class="col-sm-6">
		  <div class="card-icon card-touch" style="background: grey;" id="button_record" >
			<i class="material-icons">voicemail</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           

		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>           
		  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
			<i class="material-icons">arrow_upward</i>
		  </div>  
		</div>
		
		<div class="col-sm-6">

			<div class="card-body" id="gyroscope3d_render">
			</div>          
			 
		</div>
	
	</div>

            </div>
          </div>
        </div>          

</div>

<div style="text-align: left;width: 400px;background: white;display: block;position: absolute;left: 170px;top: 25px;z-index: 3;" id="view_debug" ></div>             


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/comtotank.js"></script>
  <script src="/static/assets/js/gamepad.js"></script>

  <script>

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js

      //twPleinEcran();

      md.initDashboardPageCharts();
      md.initDashboardPageGyroscope();
    });
  </script>

{% endblock javascripts %}
