{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="row">
    <div class="col-sm-12">
      <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon" id="button_settings" >
        <div class="card-icon" id="button_joystick" >
        <i class="material-icons">settings</i>
        </div>
        <p class="card-category">global settings</p>
      </br>
    
                
      <div class="row">
      <div class="col-sm-12">
        <div class="card-icon card-touch" style="background: Grey;" id="button_gamepad" >
        <i class="material-icons">sports_esports</i>
        </div>
        <div class="card-icon card-touch" style="background: SlateBlue;" id="button_dd" >
        <i class="material-icons">sports_esports</i>
        </div>           
        <div class="card-icon card-touch" style="background: SlateBlue;" id="button_camera" >
        <i class="material-icons">videocam</i>
        </div>           
        <div class="card-icon card-touch" style="background: grey;" id="button_debug" >
        <i class="material-icons">done</i>
        </div>           
        <div class="card-icon card-touch" style="background: grey;" id="button_security" >
        <i class="material-icons">report</i>
        </div>           
        <div class="card-icon card-touch" style="background: grey;" id="button_xx" >
        <i class="material-icons">done</i>
        </div>           
      </div>
      </div>
      
      </br>
      
      <div class="row">
         
        <div class="col-sm-12">
          <div class="card">

            <div class="card-body">
              <form method="post">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-title">Step Time</label>
                      <input type="text" class="form-txt" style="width: 120px;" value="{{ step_time }}" id="steptime" >
                      <div class="btn btn-dark pull-right"  style="margin-top: 0px;" id="steplus" >+</div>
                      <div class="btn btn-dark pull-right"  style="margin-top: 0px;" id="stepmoins" >-</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary pull-right">Update Settingss</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      
      </div>
    
                </div>
              </div>
            </div>          
    
    </div>
    
    <div style="text-align: left;width: 400px;background: white;display: block;position: absolute;left: 170px;top: 25px;z-index: 3;" id="view_debug" ></div>             
    
            


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/settings.js"></script>

{% endblock javascripts %}
