{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- Column 1  -->

  <div class="col-lg-7">

      <div class="row">
        <div class="col-lg-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon" id="joystick_enabled" >
              <div class="card-icon" id="button_joystick" >
                <i class="material-icons">sports_esports</i>
              </div>
              <p class="card-category">myTank</p>
            </br>
             
            
              <div class="row">
                <div class="col-lg-3">
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_left" >
                    <i class="material-icons" style="transform: rotate(180deg);">subdirectory_arrow_right</i>
                  </div>
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>   
                </div>
              </div>
            </br>
              <div class="row">
                <div class="col-lg-3">
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_left" >
                    <i class="material-icons" style="transform: rotate(180deg);">subdirectory_arrow_right</i>
                  </div>
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>           
                  <div class="card-icon card-touch" style="background: grey;" id="button_move_forward" >
                    <i class="material-icons">arrow_upward</i>
                  </div>  
                </div>
              </div>


            </div>
          </div>
        </div>          
      </div>        

    <!-- Gyroscope -->

      <div class="row">
        <div class="col-lg-2">
          <div class="card card-stats" id="gyroscope3d_container" >

            <div class="card-body" id="gyroscope3d_render">
            </div>          

          </div>
        </div>

        <div class="col-lg-2">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <div class="ct-chart" id="mainbatteryChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Main Battery</h4>
              <p class="card-footer">
                <span><i class="material-icons">power</i>  Charging...</span></p>
            </div>
          </div>
         </div>

      </div>



  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/gamepad.js"></script>

  <script>



    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js

      //twPleinEcran();

      md.initDashboardPageCharts();
      md.initDashboardPageGyroscope();
    });
  </script>

{% endblock javascripts %}
